.sort-header{
    display: flex;
    justify-content: space-between;

    i{
        cursor: pointer;
        padding: 0 2px;
        font-size: 16px;
    }
}
.add-new{
    // display: flex;
    align-items: center;
    justify-content: space-between;
    
    .gruop-btns{
        display: flex;
        gap: 10px;

        i{
            padding: 0 5px;
        }
    }
  }

.customize-table{
    width: inherit;
    overflow-x: auto;
}
  