
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 100%;
  }
}

.App-link {
  color: #61dafb;
}

/* Trong file CSS của bạn */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000; /* Đặt viền cho bảng */
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ccc;
}

.custom-table th {
  background-color: #ffffff; /* Màu nền tiêu đề (ví dụ: màu xanh da trời) */
  color: #000000; /* Màu chữ trắng */
  font-weight: bold;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Màu nền cho các hàng lẻ (ví dụ: màu xám nhạt) */
}

.custom-table tbody tr:hover {
  background-color: #e0e0e0; /* Màu nền khi di chuột qua hàng (ví dụ: màu xám nhạt khác) */
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3498db; /* Đặt viền cho ảnh đại diện (cùng màu với tiêu đề) */
}

.app-container{
  .login-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .title{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    padding-top: 30px;
  }

  .text{
    font-weight: 700;
    padding-bottom: 3px;
  }
  input{
    padding: 12px 7px;
    outline: none;
    margin-bottom: 7px;
    border: 1px solid;
    border-color:rgba(22, 24, 35, .12); 
    background-color: rgba(22, 24, 35, .06);
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
  }

  .input-2{
    position: relative;

    i{
      cursor: pointer;
      position: absolute;
      top: 17px;
      right: 10px;
    }
  }

  .btn1{
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: rgba(22, 24, 35, .06);
    font-weight: 700;
    &:hover{
      background-color: rgba(22, 24, 35, .06);
    }
    &.active{
      background-color: #fe2c55;
      color: white;
      font-weight: 700;
    }
  }
  .btn1[disabled=disabled], .btn1:disabled{
    cursor: not-allowed;
  }
  .back{
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
  }
}
